.container {
    margin: 0;
    padding: 0;
    background-color: white;
    width: 700px;
    height: 700px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}


.to-do-list,
.to-do-list--complete {
    margin: 0;
    padding-inline-start: 0;
}

.to-do-list--complete {
    margin-top: 500px;
    bottom: 0px;
}

.seperate {
    display: flex;
    justify-content: space-between;
}